## Six steps to train a model using scikitlearn
1. Getting the data ready
2. Choose the right estimator/algorithm for the problem
3. Fit the model/algorithm and use it to make predictions on the data
4. Evaluating a model
5. Improve a model
6. Save and load a trained model

In [1]:
# 1. Get the data ready
import pandas as pd
import numpy as np
%matplotlib inline
import matplotlib.pyplot as plt

heart_disease = pd.read_csv("heart-disease.csv")
heart_disease

,age,sex,cp,trestbps,chol,fbs,restecg,thalach,exang,oldpeak,slope,ca,thal,target
0,63,1,3,145,233,1,0,150,0,2.3,0,0,1,1
1,37,1,2,130,250,0,1,187,0,3.5,0,0,2,1
2,41,0,1,130,204,0,0,172,0,1.4,2,0,2,1
3,56,1,1,120,236,0,1,178,0,0.8,2,0,2,1
4,57,0,0,120,354,0,1,163,1,0.6,2,0,2,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
298,57,0,0,140,241,0,1,123,1,0.2,1,0,3,0
299,45,1,3,110,264,0,1,132,0,1.2,1,0,3,0
300,68,1,0,144,193,1,1,141,0,3.4,1,2,3,0
301,57,1,0,130,131,0,1,115,1,1.2,1,1,3,0
302,57,0,1,130,236,0,0,174,0,0.0,1,1,2,0

In [2]:
# use the columns to predict the target, heart disease or not, 1 or 0.

# First thing is to get the X which is the feature matrix, i.e the column,
# headings and y kinda the last column

# Create x (features matrix or feature variables or data)
x = heart_disease.drop("target", axis = 1)

# Create y (labels)
y = heart_disease["target"]

In [1]:
# 2. Choose the right model and hyperparameters.
# To predict whether a patient has a heart disease or not,
# we use a classification algorithm.
from sklearn.ensemble import RandomForestClassifier
clf = RandomForestClassifier()
# we'll keep the default hyperparameters
clf.get_params()

{'bootstrap': True,
 'ccp_alpha': 0.0,
 'class_weight': None,
 'criterion': 'gini',
 'max_depth': None,
 'max_features': 'auto',
 'max_leaf_nodes': None,
 'max_samples': None,
 'min_impurity_decrease': 0.0,
 'min_impurity_split': None,
 'min_samples_leaf': 1,
 'min_samples_split': 2,
 'min_weight_fraction_leaf': 0.0,
 'n_estimators': 100,
 'n_jobs': None,
 'oob_score': False,
 'random_state': None,
 'verbose': 0,
 'warm_start': False}

In [11]:
# 3. Fit the model to the training data
from sklearn.model_selection import train_test_split
# split the data to train and test data
x_train, x_test, y_train, y_test = train_test_split(x, y, test_size=0.2)

# 80% of the data will be used for training because test_size 0.2 = 20%

clf.fit(x_train, y_train);
x_train

,age,sex,cp,trestbps,chol,fbs,restecg,thalach,exang,oldpeak,slope,ca,thal
269,56,1,0,130,283,1,0,103,1,1.6,0,0,3
153,66,0,2,146,278,0,0,152,0,0.0,1,1,2
7,44,1,1,120,263,0,1,173,0,0.0,2,0,3
9,57,1,2,150,168,0,1,174,0,1.6,2,0,2
130,54,0,2,160,201,0,1,163,0,0.0,2,1,2
...,...,...,...,...,...,...,...,...,...,...,...,...,...
223,56,0,0,200,288,1,0,133,1,4.0,0,2,3
204,62,0,0,160,164,0,0,145,0,6.2,0,3,3
257,50,1,0,144,200,0,0,126,1,0.9,1,0,3
109,50,0,0,110,254,0,0,159,0,0.0,2,0,2
228,59,1,3,170,288,0,0,159,0,0.2,1,0,3

In [12]:
# Make a prediction (still step 3)
x_test

,age,sex,cp,trestbps,chol,fbs,restecg,thalach,exang,oldpeak,slope,ca,thal
53,44,0,2,108,141,0,1,175,0,0.6,1,0,2
292,58,0,0,170,225,1,0,146,1,2.8,1,2,1
188,50,1,2,140,233,0,1,163,0,0.6,1,1,3
145,70,1,1,156,245,0,0,143,0,0.0,2,0,2
177,64,1,2,140,335,0,1,158,0,0.0,2,0,2
...,...,...,...,...,...,...,...,...,...,...,...,...,...
224,54,1,0,110,239,0,1,126,1,2.8,1,1,3
37,54,1,2,150,232,0,0,165,0,1.6,2,0,3
225,70,1,0,145,174,0,1,125,1,2.6,0,0,3
131,49,0,1,134,271,0,1,162,0,0.0,1,0,2
89,58,0,0,100,248,0,0,122,0,1.0,1,0,2

In [13]:
y_preds = clf.predict(x_test)
y_preds

array([1, 0, 1, 1, 1, 1, 0, 1, 0, 1, 1, 1, 1, 0, 0, 1, 0, 1, 1, 1, 1, 0,
       0, 0, 0, 1, 0, 0, 1, 1, 1, 1, 1, 1, 1, 1, 0, 1, 1, 0, 1, 1, 0, 1,
       1, 0, 0, 1, 1, 0, 1, 0, 0, 0, 0, 0, 0, 1, 0, 1, 1], dtype=int64)

In [14]:
y_test

53     1
292    0
188    0
145    1
177    0
      ..
224    0
37     1
225    0
131    1
89     1
Name: target, Length: 61, dtype: int64

In [15]:
# 4. Evaluate the model on the training data and test data
clf.score(x_train, y_train)

1.0

In [16]:
clf.score(x_test, y_test)

0.7868852459016393

In [17]:
# other metrics to use check eval. score
from sklearn.metrics import classification_report, confusion_matrix, accuracy_score
print(classification_report(y_test, y_preds))

              precision    recall  f1-score   support

           0       0.84      0.70      0.76        30
           1       0.75      0.87      0.81        31

    accuracy                           0.79        61
   macro avg       0.79      0.79      0.78        61
weighted avg       0.79      0.79      0.79        61

In [18]:
confusion_matrix(y_test, y_preds)

array([[21,  9],
       [ 4, 27]], dtype=int64)

In [19]:
accuracy_score(y_test, y_preds)

0.7868852459016393

In [20]:
# 5. Improve a model
# Try different amount of n_estimators
np.random.seed(42)
for i in range(10, 100, 10):
    print(f"Trying model with {i} estimators...")
    clf = RandomForestClassifier(n_estimators = i).fit(x_train, y_train)
    print(f"Model accuracy on test set:{clf.score(x_test, y_test)*100:.2f}%")
    print("")

Trying model with 10 estimators...
Model accuracy on test set:75.41%

Trying model with 20 estimators...
Model accuracy on test set:80.33%

Trying model with 30 estimators...
Model accuracy on test set:81.97%

Trying model with 40 estimators...
Model accuracy on test set:78.69%

Trying model with 50 estimators...
Model accuracy on test set:77.05%

Trying model with 60 estimators...
Model accuracy on test set:80.33%

Trying model with 70 estimators...
Model accuracy on test set:75.41%

Trying model with 80 estimators...
Model accuracy on test set:78.69%

Trying model with 90 estimators...
Model accuracy on test set:78.69%

In [21]:
# 6. Save a model and load it
# We can save a model with python pickel
import pickle
pickle.dump(clf, open("random_forest_model_1.pkl", "wb"))

In [22]:
# Import our model/file back
loaded_model = pickle.load(open("random_forest_model_1.pkl", "rb"))
loaded_model.score(x_test, y_test)

0.7868852459016393